div {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}
